.App-sidebar {
    display: flex;
    flex-direction: row;
    width: auto;
}
.App-navbar {
    flex-shrink: 0;
}
.App-sidebar-menu {
    width: 240px;
}

.App-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.App-headline-text {
    text-transform: none;
    color: var(--s-color-primary);
    font-weight: bolder;
}
