html,
body,
#root {
    margin: 0;
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: unset;
    text-decoration: unset;
}
